
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,800");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.col-md-4 {
    -ms-flex-line-pack: center;
        align-content: center;
}
header {
    margin-top: 75px;
}
hr {
    margin-top: 0;
}
li {
    list-style-type: none;
}

.comments {
    text-decoration: underline;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
    padding: 10px;
}

.article-container {
    border: 1px solid black;
    padding: 10px;

    h2 {
        text-transform: Uppercase;
        text-decoration: underline;
    }
}
.content-container {
    height: auto;

}
.col-md-6 ul {
    list-style-type: none;
    padding: 0;
}

.time {
    font-size: 12px;
}
.userComment {
    font-size: 12px;
}


.logo img {
    width: 100px;
    height: 50px;
    border-right: 1px solid red;
}
.site-nav {
  ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-start;
            flex-direction: flex-start
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    padding-left: 10px;
    display: inline-block;
  }
}
.fa {
    padding-top: 2px;
    padding-left: 0;
    width: 5px;
}


h3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;

}

.mainContent{
    padding: 16px;
}

.homepage {
    padding-top: 20px;

}




.homepageHr {
    background-color: black;
}

.socialMediaBox {
    width: 28%;
    margin-left: 2%;
    margin-top: 10px;
    float: right;
    border: 1px solid #e0e0e0;
    font-family: FontAwesome;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    h3 {
        padding-left: 10px;
        padding-top: 15px;
        font-weight: 800;
    }

    .socialIcons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-evenly;

    }
}

.socialMediaBox:hover {
    -webkit-box-shadow: 0px 0px 0px 3px #e0e0e0;
            box-shadow: 0px 0px 0px 3px #e0e0e0;
}

.container {
    padding-left: 16px;
}
